@model AnnounceQueryViewModel
@{
	ViewData["Title"] = "Users";
	int announceSortingNumber = (int)Model.AnnounceSorting;
	int startPage = Model.CurrentPage - 5;
	int endPage = Model.CurrentPage + 4;
	int maxPage = (int)Math.Ceiling((double)Model.TotalAnnounces / (double)Model.AnnouncesPerPage);
	if (startPage <= 0)
	{
		endPage = endPage - (startPage - 1);
		startPage = 1;
	}
	if (endPage > maxPage)
	{
		endPage = maxPage;
		if (endPage > 10)
		{
			startPage = endPage - 9;
		}
	}

	int previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
	                                !Model.Announces.Any();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/site.css">
	<link rel="stylesheet" href="~/css/announces.css">
	<title>Всички</title>
</head>
<body class="all-background">
<div class="d-flex">
	<div class="d-flex justify-content-center" style="width: 100%;">
		<form method="get"
		      asp-controller="Announce"
		      asp-action="All"
		      asp-route-currentPage="@Model.CurrentPage"
		      asp-route-category="@Model.Category"
		      asp-route-orderBy="@ViewData["announceSorting"]"
		      asp-route-searchTerm="@Model.SearchTerm">
			<div class="d-flex">
				<div class="form-group" style="width: 270px;">
					<input asp-for="SearchTerm" class="form-control" placeholder="Търси...">
				</div>
				<div class="form-group">
					<button class="btn btn-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</div>
		</form>
	</div>
	<div class="btn-group">
		<button type="button" class="btn text-white sortingButton-background dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			@Model.AnnounceSorting
		</button>
		<ul class="dropdown-menu">
			<li>
				<a
					class="dropdown-item"
					asp-action="All"
					asp-controller="Announce"
					asp-route-searchTerm="@Model.SearchTerm"
					asp-route-orderBy="0">
					Най-ново
				</a>
			</li>
			<li><hr class="dropdown-divider"></li>
			<li>
				<a
					class="dropdown-item"
					asp-action="All"
					asp-controller="Announce"
					asp-route-searchTerm="@Model.SearchTerm"
					asp-route-orderBy="1">
					Най-старо
				</a>
			</li>
			<li><hr class="dropdown-divider"></li>
			<li>
				<a
					class="dropdown-item"
					asp-action="All"
					asp-controller="Announce"
					asp-route-searchTerm="@Model.SearchTerm"
					asp-route-orderBy="2">
					Цена (възходящ)
				</a>
			</li>
			<li><hr class="dropdown-divider"></li>
			<li>
				<a
					class="dropdown-item"
					asp-action="All"
					asp-controller="Announce"
					asp-route-searchTerm="@Model.SearchTerm"
					asp-route-orderBy="3">
					Цена (низходящ)
				</a>
			</li>
		</ul>
	</div>
</div>
<a asp-action="Add" asp-controller="Announce" class="btn text-white sortingButton-background">Добави обява</a>
@if (!Model.Announces.Any())
{
	<div class="text-center">
		<h2 class="mt-5">Няма намерени обяви по този критерии!</h2>
	</div>
}
@if (Model.Announces.Any())
{
	<div class="d-flex">
		<div class="row g-4 mt-3 justify-content-center">
			@{

				foreach (AllAnnouncesViewModel announce in @Model.Announces)
				{
					var body = announce.Description;
					if (announce.Description.Length > 55)
					{
						body = "";
						var i = 0;
						while (i < 55)
						{
							body += announce.Description[i++];
						}
						body += "...";
					}

					<div class="col-md-4 m-2 cursor-pointer" style="width: 300px;">
						<a class="card-a" asp-action="Details" asp-controller="Announce" asp-route-id="@announce.Id">
							<div class="card">
								<img style="height: 350px; padding: 8px; border-radius: 10px;" src="@announce.ImageUrl" class="card-img-top" alt="Cannot load this image!">
								<div class="card-body pt-3 card-a-body">
									<h6 class="card-text fw-bold">@body</h6>
									<div class="d-flex justify-content-between mt-5">
										<p class="card-text fs-4">@announce.Price lv.</p>
										<a asp-action="Add" asp-controller="ShoppingCart" asp-route-id="@announce.Id" class="btn btn-warning cart-color cart-hover"><i class="fa-solid fa-cart-shopping"></i></a>
									</div>
								</div>
							</div>
						</a>
					</div>

				}
			}
		</div>
		}
	</div>
}

<ul class="pagination d-flex justify-content-center mt-4">
	<li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
		<a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Announce"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-category="@Model.Category"
		   asp-route-orderBy="@ViewData["announceSorting"]"
		   asp-route-searchTerm="@Model.SearchTerm"><span aria-hidden="true">&laquo;</span></a>
	</li>
	@for (int i = startPage; i <= endPage; i++)
	{
		<li class="page-item ms-1 me-1  @(i == Model.CurrentPage ? "active" : string.Empty)">
			<a class="page-link rounded"
			   asp-action="All"
			   asp-controller="Announce"
			   asp-route-currentPage="@i"
			   asp-route-category="@Model.Category"
			   asp-route-orderBy="@ViewData["announceSorting"]"
			   asp-route-searchTerm="@Model.SearchTerm">@i</a>
		</li>
	}
	<li class="page-item @(shouldNextPageBeDisabled ? "disabled" : string.Empty)">
		<a class="btn btn-primary
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Announce"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-category="@Model.Category"
		   asp-route-orderBy="@ViewData["announceSorting"]"
		   asp-route-searchTerm="@Model.SearchTerm"><span aria-hidden="true">&raquo;</span></a>
	</li>
</ul>
</body>
</html>