@model AnnounceDetailsViewModel
@{
	ViewBag.Title = "Details";
}
<style>
	@@media screen and (max-width: 768px) {
		#imgId {
			height: 400px;
		}
	}
</style>

<h2 class="text-center text-white fs-1">@ViewBag.Title</h2>
<hr class="text-white"/>
<div class="d-flex justify-content-center">
	<div class="card" style="width: 50rem;">
		<div class="card-body">
			<h3 class="card-title text-center mt-1 mb-3 fs-2">@Model.Title</h3>
			<div id="imgId" class="text-center" style="height: 465px;">
				<img src="@Model.ImageUrl" style="border-radius: 5px" class="img-fluid h-100" />
			</div>
			<p class="card-text mt-3">
				<span class="fw-bold fs-5">Description:</span>
				@Model.Description
			</p>
			<div class="row">
				<div class="col-7 col-md-6">
					@* <p class="card-text">
						<span class="fw-bold fs-5">Owner:
						</span>@Model.ProductOwner
					</p> *@
					@* <p class="card-text">
						<span class="fw-bold fs-5">Created on:
						</span>@Model.CreatedOn
					</p> *@
				</div>
				<div class="col-5 col-md-6">
					<p class="card-text text-success fs-3 fw-bold">
						<span class="fw-bold text-black fs-3">
							Price:
						</span>@Model.Price lv.
					</p>
					@* <p class="card-text text-success fs-3 fw-bold">
						<span class="fw-bold text-black fs-4">
							Quantity:
						</span>@Model.Quantity
					</p> *@
				</div>
				@if (Model.Owner == User.Identity.Name)
				{
					<div>
						@* asp-action="UpdateForm" asp-controller="Event" *@
						<a asp-route-id="@Model.Id" class="btn btn-primary" style="width: 22%">Edit</a>
						<a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger" style="width: 22%">Delete</a>
					</div>
				}
				else
				{
					<div>
						@* asp-action="Buy" asp-controller="Event" *@
						<a asp-route-id="@Model.Id" class="btn btn-warning" style="width: 22%">Buy</a>
					</div>
				}
			</div>
		</div>
	</div>
</div>

@* DELETE MODAL *@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Delete</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center d-flex justify-content-center align-items-center">
				<p class="m-0 text-danger fs-5">Are you sure you want to delete this item?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				@* <form asp-action="DeleteProduct" asp-controller="Event" asp-route-id="@Model.Id" method="post">
					<button class="btn btn-danger">Delete</button>
				</form> *@
			</div>
		</div>
	</div>
</div>
@* DELETE MODAL END*@