@using Wealth_Eco_Invest.Services.Data.Interfaces
@model ChatViewModel
@inject IUserService UserService
@{
	Dictionary<int, string> days = new Dictionary<int, string>()
	{
		{ 1, "Яну" },
		{ 2, "Фев" },
		{ 3, "Март" },
		{ 4, "Апр" },
		{ 5, "Май" },
		{ 6, "Юни" },
		{ 7, "Юли" },
		{ 8, "Авг" },
		{ 9, "Сеп" },
		{ 10, "Окт" },
		{ 11, "Ное" },
		{ 12, "Дек" },
	};
	string date = "";
}
<div class="col-7 px-0">
	<div class="px-4 py-5 chat-box bg-white">
		<ul id="messagesList">

		</ul>
		@foreach (var message in Model.Messages)
		{
			foreach (var (key,value) in days)
			{
				if (key == @message.TypedOn.Month)
				{
					date = value;
					break;
				}
			}
			string activeUserClasses = "media w-50 ml-auto mb-3";
			string bodyClass = "bg-primary";
			bool isUserActive = UserService.IsCurrentUserTyping(Model.Id, Guid.Parse(this.User.GetId())).Result;
			if (isUserActive)
			{
				activeUserClasses = "media w-50 mb-3";
				bodyClass = "bg-light";
			}

			<!-- Sender Message-->
			<div class="@activeUserClasses">
				<div class="media-body ml-3">
					<div class="@bodyClass rounded py-2 px-3 mb-2">
						@message.Message
					</div>
					<p class="small text-muted">@message.TypedOn.ToString("tt") | @message.TypedOn.Day @date</p>
				</div>
			</div>
		}
		<p class="bg-light rounded py-2 px-3 mb-2" id="textDiv" class="text-small mb-0 text-muted" hidden></p>
	</div>
	<!-- Typing area -->
	<div class="input-group">
			<input type="text" id="userInput" value="@this.User.Identity.Name" hidden/>
			<input id="messageInput" type="text" placeholder="Type a message" class="form-control rounded-0 border-0 py-4 bg-light">
			<input id="chatDiv" value="@Model.Id" hidden/>
			<div class="input-group-append">
				<button id="sendButton" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
			</div>
		</div>
</div>
<script>
	
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>