@model NewsAPI.Models.ArticlesResult
@{
    ViewData["Title"] = "Home Page";
	
}
<div class="text-center d-flex">
	<div class="row justify-content-center">
	@{
		foreach (var article in Model.Articles)
		{
			var body = article.Description;
			var title = article.Title;
			if (article.Description.Length > 60)
			{
				body = "";
				var i = 0;
				while (i < 60)
				{
					body += article.Description[i];
					i++;
				}
				body += "...";
			}
			if (article.Title.Length > 50)
			{
				title = "";
				var i = 0;
				while (i < 50)
				{
					title += article.Description[i];
					i++;
				}
				title += "...";
			}

			<div class="col-sm-6 card ms-2 me-2 mt-2" style="width: 18rem;">
				@if (string.IsNullOrEmpty(@article.UrlToImage))
				{
					<img style="height: 220px;" src="~/no-image.png" class="card-img-top" alt="">
				}
				else
				{
					<img style="height: 220px;" src="@article.UrlToImage" class="card-img-top" alt="">
				}
				<div class="card-body">
					<h5 class="card-title">@title</h5>
					<p class="card-text">Author:<span class="fw-bold">@article.Author</span></p>
					<p class="card-text">@body</p>
					<a href="@article.Url" target="_blank" class="btn btn-warning">More Information</a>
				</div>
			</div>
		}
		}
	</div>
</div>
