@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/login.css">
    <title>Login Form</title>
    <!-- Coding With Nick -->
</head>

<body>
    <div class="Main-container">
        <div class="container-login">
            <div class="wrap-login">

                <div class="login-pic">
                    <img src="~/login.png" alt="IMG">
                </div>

				<form class="login-form" id="account" method="post">
					<span class="login-form-title">Login</span>

					<div class="wrap-input">
						<input asp-for="Input.Username" type="text" class="input" placeholder="Username" aria-required="true">
						
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<span asp-validation-for="Input.Username" class="text-danger d-flex justify-content-center"></span>
                    <div class="wrap-input">
						<input asp-for="Input.Password" type="password" class="input" placeholder="Password" aria-required="true">
						
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>
					<span asp-validation-for="Input.Password" class="text-danger d-flex justify-content-center"></span>
                    <div class="login-form-btn-container">
                        <button class="login-form-btn" type="submit">Login</button>
                    </div>

					<div class="text-center p-t-1">
						<span class="txt1">Forgot</span>
						<a asp-page="./ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl" aria-hidden="true" class="txt2"> Password ?</a>
					</div>

					<div asp-validation-summary="ModelOnly" class="text-danger text-center mt-5 list"></div>

                    <div class="text-center p-t-2">
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="txt2" aria-hidden="true">Create Your Account <i class="fa fa-long-arrow-right"></i></a>
                    </div>
					
                </form>
            </div>
        </div>
    </div>

</body>

</html>
@* <div class="row d-flex align-items-center">
	<div class="col-md-4">
		<section>
			<form id="account" method="post">
				<h1 class="text-dark text-center">@ViewData["Title"]</h1>
				<hr class="text-dark text-center"/>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Username" class="form-control" id="username" type="text" placeholder="username" autocomplete="username" aria-required="true"/>
					<label asp-for="Input.Username" class="form-label" for="username"></label>
					<span asp-validation-for="Input.Username" class="text-danger"></span>
				</div>
				<div class="form-floating mb-2">
					<input asp-for="Input.Password" class="form-control" id="password" type="password" placeholder="password" autocomplete="current-password" aria-required="true"/>
					<label asp-for="Input.Password" class="form-label" for="password"></label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="text-dark">
					<div class="checkbox">
						<label asp-for="Input.RememberMe" class="form-label">
							<input class="form-check-input" asp-for="Input.RememberMe"/>
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
				</div>
				<div class="mb-2">
					<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
				</div>
				<div>
					<p>
						<a class="text-dark text-decoration-none" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
					</p>
					<p>
						<a class="text-dark text-decoration-none" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
					</p>
					<p>
						<a class="text-dark text-decoration-none" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
					</p>
				</div>
			</form>
		</section>
	</div>
</div> *@
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}